################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BanHangThoiTrangMVC/obj/Debug
/BanHangThoiTrangMVC/obj/
/BanHangThoiTrangMVC/bin/

/.vs/BanHangThoiTrangMVC
